/*------------------------------------*\
    #font-family, font-icon
\*------------------------------------*/

/* https://developers.google.com/fonts/docs/getting_started
 * Embed Font
 * To embed your selected fonts into a webpage,
 * copy this code into the <head> of your HTML document.
 */

/*------------------------------------*\
  ALL fonts Prilov STANDARD @IMPORT
  Load Time: Slow
  https: //fonts.google.com/?query=mons&selection.family=Montserrat:300,500,600,700|Roboto+Condensed:400,700|Roboto:100,400

\*------------------------------------*/

// variables
// font-family: 'Roboto',sans-serif;
// font-family: 'Roboto Condensed',sans-serif;
// font-family: 'Montserrat',sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700|Roboto+Condensed:400,700|Roboto:100,400');

/*------------------------------------*\
  Ico font $font-path
\*------------------------------------*/
@font-face {
  font-family: 'ico-prilov';
  src : url('#{$font-path}/ico-prilov.eot?q8w9in');
  src : url('#{$font-path}/ico-prilov.eot?q8w9in#iefix') format('embedded-opentype'),
    url('#{$font-path}/ico-prilov.ttf?q8w9in') format('truetype'),
    url('#{$font-path}/ico-prilov.woff?q8w9in') format('woff'),
    url('#{$font-path}/ico-prilov.svg?q8w9in#ico-prilov') format('svg');
  font-weight: normal;
  font-style: normal;
}

.i-,
[class^="i-"],
[class*=" i-"] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ico-prilov' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.i_flip {
  &:before {
    display: inline-block;
    transform: rotate(-180deg);
  }
}


@function unicode($str) {
  @return unquote("\"")+$str+unquote("\"");
}

.i-prilov {
  &:before {
    content: unicode($i-prilov);
  }
}

.i-starts {
  &:before {
    content: unicode($i-starts);
  }
}

.i-it-girl {
  &:before {
    content: unicode($i-it-girl);
  }
}

.i-dress {
  &:before {
    content: unicode($i-dress);
  }
}

.i-like {
  &:before {
    content: unicode($i-like);
  }
}

.i-search {
  &:before {
    content: unicode($i-search);
  }
}

.i-view {
  &:before {
    content: unicode($i-view);
  }
}

.i-ok {
  &:before {
    content: unicode($i-ok);
  }
}

.i-filter {
  &:before {
    content: unicode($i-filter);
  }
}

.i-reload {
  &:before {
    content: unicode($i-reload);
  }
}

.i-bag {
  &:before {
    content: unicode($i-bag);
  }
}

.i-car {
  &:before {
    content: unicode($i-car);
  }
}

.i-tag {
  &:before {
    content: unicode($i-tag);
  }
}

.i-shop {
  &:before {
    content: unicode($i-shop);
  }
}

.i-send {
  &:before {
    content: unicode($i-send);
  }
}

.i-feedback {
  &:before {
    content: unicode($i-feedback);
  }
}

.i-alert {
  &:before {
    content: unicode($i-alert);
  }
}

.i-help {
  &:before {
    content: unicode($i-help);
  }
}

.i-sell {
  &:before {
    content: unicode($i-sell);
  }
}

.i-card {
  &:before {
    content: unicode($i-card);
  }
}

.i-money {
  &:before {
    content: unicode($i-money);
  }
}

.i-trip {
  &:before {
    content: unicode($i-trip);
  }
}

.i-singup {
  &:before {
    content: unicode($i-singup);
  }
}

.i-insta {
  &:before {
    content: unicode($i-insta);
  }
}

.i-fb {
  &:before {
    content: unicode($i-fb);
  }
}

.i-twitter {
  &:before {
    content: unicode($i-twitter);
  }
}

.i-heart {
  &:before {
    content: unicode($i-heart);
  }
}

.i-heart-on {
  &:before {
    content: unicode($i-heart-on);
  }
}



.i-alert-info {
  &:before {
    content: unicode($i-alert-info);
  }
}

.i-alert-circle {
  &:before {
    content: unicode($i-alert-circle);
  }
}

.i-alert-tri {
  &:before {
    content: unicode($i-alert-tri);
  }
}

.i-user {
  &:before {
    content: unicode($i-user);
  }
}

.i-user-x {
  &:before {
    content: unicode($i-user-x);
  }
}

.i-insta-red {
  &:before {
    content: unicode($i-insta-red);
  }
}

.i-twitter-red {
  &:before {
    content: unicode($i-twitter-red);
  }
}

.i-fb-red {
  &:before {
    content: unicode($i-fb-red);
  }
}

.i-bell {
  &:before {
    content: unicode($i-bell);
  }
}

.i-shipping {
  &:before {
    content: unicode($i-shipping);
  }
}

.i-favorite {
  &:before {
    content: unicode($i-favorite);
  }
}

.i-credits {
  &:before {
    content: unicode($i-credits);
  }
}

.i-closet {
  &:before {
    content: unicode($i-closet);
  }
}

.i-bank-data {
  &:before {
    content: unicode($i-bank-data);
  }
}

.i-sale {
  &:before {
    content: unicode($i-sale);
  }
}

.i-data {
  &:before {
    content: unicode($i-data);
  }
}

.i-blog {
  &:before {
    content: unicode($i-blog);
  }
}

.i-x {
  &:before {
    content: unicode($i-x);
  }
}

.i-close {
  &:before {
    content: unicode($i-close);
  }
}

.i-plus {
  &:before {
    content: unicode($i-plus);
  }
}

.i-back {
  &:before {
    content: unicode($i-back);
  }
}

.i-next {
  &:before {
    content: unicode($i-next);
  }
}

.i-back-s {
  &:before {
    content: unicode($i-back-s);
  }
}

.i-next-s {
  &:before {
    content: unicode($i-next-s);
  }
}
.i-less {
  &:before {
    content: unicode($i-less);
  }
}

.i-less-circle {
  &:before {
    content: unicode($i-less-circle);
  }
}

.i-edit-line {
  &:before {
    content: unicode($i-edit-line);
  }
}

.i-edit {
  &:before {
    content: unicode($i-edit);
  }
}

.i-start {
  &:before {
    content: unicode($i-start);
  }
}

.i-star-on {
  &:before {
    content: unicode($i-star-on);
  }
}
// V6
.i-email {
  &:before {
    content: unicode($i-email);
  }
}

.i-upload {
  &:before {
    content: unicode($i-upload);
  }
}



