//*------------------------------------*\
    //Variables Typo font
//*------------------------------------*/
//font root
$font-path: "../fonts" !default;

//Variables font family:
$f-normal : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-default: 'Roboto Condensed','Helvetica Neue', Helvetica, Arial, sans-serif;
$f-fancy  : 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Variables font-weight
$fw-thin     : 100; //Roboto
$fw-light    : 300; //Montserrat
$fw-regular  : 400; //Roboto  //R. Condensed
$fw-medium   : 500; //Montserrat
$fw-semi-bold: 600; //Montserrat
$fw-bold     : 700; //Montserrat //R. Condensed

//Variables font-ico
$i-prilov      : \e900;
$i-starts      : \e901;
$i-it-girl     : \e902;
$i-dress       : \e903;
$i-like        : \e906;
$i-search      : \e908;
$i-view        : \e909;
$i-ok          : \e90a;
$i-filter      : \e90b;
$i-reload      : \e90c;
$i-bag         : \e910;
$i-car         : \e912;
$i-tag         : \e913;
$i-shop        : \e914;
$i-send        : \e915;
$i-feedback    : \e916;
$i-alert       : \e917;
$i-help        : \e918;
$i-sell        : \e919;
$i-card        : \e91a;
$i-money       : \e91b;
$i-trip        : \e91c;
$i-singup      : \e91d;
$i-insta       : \e91e;
$i-fb          : \e91f;
$i-twitter     : \e920;
//v2
$i-heart       : \e904;
$i-heart-on    : \e923;
$i-alert-info  : \e924;
$i-alert-circle: \e925;
$i-alert-tri   : \e926;
$i-user        : \e90f;
$i-user-x      : \e927;
$i-insta-red   : \e928;
$i-twitter-red : \e929;
$i-fb-red      : \e92a;
//v3
$i-bell        : \e911;
$i-shipping    : \e92b;
$i-favorite    : \e92c;
$i-credits     : \e92d;
$i-closet      : \e92e;
$i-bank-data   : \e92f;
$i-sale        : \e930;
$i-data        : \e931;
//v4
$i-blog: \e932;
$i-x: \e921;
$i-close: \e90d;
$i-plus: \e933;
$i-back: \e90e;
$i-next: \e934;
$i-back-s: \e935;
$i-next-s: \e936;
//V5
$i-less: \e905;
$i-less-circle: \e937;
$i-edit-line: \e938;
$i-edit: \e907;
$i-start: \e922;
$i-star-on: \e939;
//V6
$i-email: \e93a;
$i-upload: \e93b;





