//*------------------------------------*\
    //Variables Color
//*------------------------------------*/

//* Color palette *//
$coral-pink: #f65a66;
$pink-dark : #D46060;
$red       : #D0021B;
$red-urgent: #d01345;
$green     : #7ed321;
$orenge    : #FFA65B;
$white     : #fff;
$white-two : #f6f6f6;
$black     : #000;
// Grey
$grey       : #4a4a4a;
$grey-text  : #707070;
$grey-warm  : #9b9b9b;
$grey-medium: #cbcbcb;
$grey-bland: #D2D2D2;
$grey-white : #efefef;




//* Color variables */
$c-brand      : $coral-pink;
$c-brand-dark : $pink-dark;
$c-brand-light: #fcadac;
$c-ok         : $green;
$c-warning    : $orenge;
$c-danger     : $red;
$c-urgent     : $red-urgent;

$c-neutro  : $white;
$c-neutro-2: rgba($c-neutro, .3);
$c-neutro-3: $grey-white;
$c-neutro-4: $white-two;
$c-neutro-5: $grey-bland;



$c-default     : $black;
$c-default-over: rgba($black, .5);
$c-default-2   : $grey;
$c-default-3   : $grey-medium;
$c-default-4   : $grey-warm;
$c-default-5   : $grey-text;