/*------------------------------------*\
	Estilos de copy blog
\*------------------------------------*/

.blog {
	max-width: 1440px;
	margin: 0 auto 60px;
	font-family: $f-normal;
	font-weight: $fw-thin;
	@include font-rem(16px);
	.link_underline {
		font-weight: $fw-thin;
	}
	p {
		margin: 0;
		padding-bottom: 16px;
	}
	sup {
		color:$c-brand;
		font-weight: $fw-regular;
		font-style: normal;
	}

	.blog__lead {
	  padding-bottom: 24px;
	}

}


.blog_top {
	padding-top: 30px;
}
.blog_center {
	text-align: center;
}
.blog_center_ico {
  &:before {
		display: block;
		padding-bottom: 22px;
    color: $c-brand;
    @include font-rem(50px);
  }
}

.blog__inner {
	width: 96%;
	max-width: 920px;
	margin: 0 auto;
}
.blog__out {
	.blog__copy {
		width: 96%;
		margin: 0 auto;
	}
}
.blog__subarticle {
	padding-bottom: 16px;
}

.blog__header {
	padding-bottom: 32px;
}

.blog__title {
	line-height: 1.2;
	text-transform: uppercase;
	font-family: $f-fancy;
	font-weight: $fw-semi-bold;
	@include font-rem(30px);
	padding-bottom: 8px;
}
.blog__subtitle {
	text-transform: uppercase;
	@include font-rem(20px);
	font-family: $f-fancy;
	font-weight: $fw-medium;
}
.blog__kicker {
	width: 70%;
	margin: 0;
	padding: 8px 0;
  text-transform: uppercase;
  font-family: $f-fancy;
	font-weight: $fw-light;
	@include font-rem(14px);
	&:before {
		content: '';
		display: block;
		width: 96%;
		padding-top: 8px;
		border-top: 1px solid $c-default;
	}
}
.blog__kicker_center {
	display: inline-block;
	width: auto;
}

.blog__headline {
	max-width: 810px;
	padding-bottom: 24px;
	line-height: 1.4;
	text-transform: uppercase;
	font-family: $f-fancy;
	@include font-rem(18px);
}
.blog__lead {
  text-transform: uppercase;
  font-family: $f-fancy;
  font-weight: $fw-light;
  @include font-rem(18px);
}

.blog__subhead {
  padding-bottom: 16px;
	font-family: $f-fancy;
	@include font-rem(16px);
}
.blog__spread {
  padding-bottom: 30px;
}
.blog__body_slot {
  padding-bottom: 30px;
}

.blog__copy {
  line-height: 1.46;
}
.blog__note {
	padding-top: 16px;
	font-style: italic;
	font-size: 80%;
}
.blog__pullquote {
	position: relative;
	padding-left: 48px;
	text-transform: uppercase;
	font-family: $f-fancy;
	font-weight: $fw-light;
	@include font-rem(20px);
	&:before {
		content: '“';
		position: absolute;
		top: -24px;
		left: 0;
		opacity: 0.2;
		color: $c-brand;
		line-height: 1;
		@include font-rem(198px);
		font-weight: bold;
		font-family:  Georgia, serif;
	}
}
	.blog__quote {
		margin: 0;
	}
.blog__picture {
	position: relative;
	max-width: 400px;
	padding-bottom: 24px;
	img {
		width: 100%;
		vertical-align: bottom;
	}
}
	.blog__caption {
		position: absolute;
		left: 0;
		bottom: 15%;
		width: 90%;
		text-transform: uppercase;
		font-family: $f-fancy;
		@include font-rem(24px);
		span {
			padding: 2px 5px;
			line-height: 1.6;
			background-color:$c-neutro;
		}
	}
.blog__spread_upside { 
	.blog__picture {
		margin-left: auto;
	}
}

.blog__byline {
	padding-top: 16px;
}
// Contenido grilla
.blog__article {
	padding-bottom: 16px;
}

.blog-card {
	margin: 0;
	padding: 16px 0;
	text-align: center;
	list-style: none;
	counter-reset: item;
}

.blog-card__item {
	display: inline-block;
	max-width: 320px; 
	padding: 16px 0;

	&:before {
		color: $c-brand;
		@include font-rem(50px);
	}
	.blog-card__title {
		&:before {
		  counter-increment: item;
			content: counter(item) '. ';
		}
	}
	.blog-card__sup {
		&:before {
		  content: '* ';
		}
	}

}
.blog-card__title {
	padding-top: 22px;
	text-transform: uppercase;
	font-weight: $fw-bold;
	@include font-rem(16px);
}
.blog-card__txt{
	display: inline-block;
	font-family: $f-normal;
	font-weight: $fw-thin;
}
.blog-summary {
	padding-bottom: 36px;
	.blog__copy {
		line-height: 1.6;
		font-family: $f-normal;
		font-weight: $fw-thin;
		@include font-rem(16px);
	}
}

@media only screen and (min-width: 480px) {
	.blog-card {
		@include flexbox;
		@include flex-wrap(wrap);
		@include justify-content(center);
		margin: 0 -30px;
	}
	.blog-card__item {
		max-width: 310px;
		padding: 16px 30px;
	}

}

@include media-query(medium) {
	.blog {
		margin-bottom: 100px;
		@include font-rem(24px);
		p {
			padding-bottom: 24px;
		}
		.blog__lead {
		  padding-bottom: 36px;
		}

	}
	.blog_top {
	  padding-top: 100px;
	}
	.blog__subarticle {
	  padding-bottom: 24px;
	}


	.blog__header {
	  padding-bottom: 56px;
	}

	.blog__title {
		@include font-rem(50px);
	}
	.blog__subtitle {
	  @include font-rem(30px);
	}

	.blog__kicker {
	  @include font-rem(18px);
	}
	.blog__kicker_center {
	  @include font-rem(16px);
	}

	.blog__headline {
		padding-bottom: 24px;
		@include font-rem(26px);
	}
		.blog__lead {
			@include font-rem(28px);
		}

	.blog__subhead {
		padding-bottom: 22px;
		@include font-rem(24px);
	}
	

	.blog__pullquote {
	  padding-left:78px;
		@include font-rem(30px);
		&:before {
			top: -38px;
			@include font-rem(298px);
		}
	}
	.blog__picture {
	  max-width: 560px;
	}

	.blog__caption {
	  @include font-rem(36px);
	}
	.blog__byline {
		padding-top: 16px;
	}
	.blog__article {
	  padding-bottom: 30px;
	}

	.blog-card {
		padding: 30px 0;
	}

	.blog-card__item {
	  &:before {
	    @include font-rem(66px);
		}
	}
	.blog-card__title {
	  @include font-rem(18px);
	}
	.blog-card__txt {
	  @include font-rem(16px);
	}
	.blog_center_ico {
		&:before {
			@include font-rem(66px);
		}
	}
	.blog-summary {
		padding-bottom: 54px;

	  .blog__copy {
	    @include font-rem(18px);
	  }
	}
}
.bolg__data {
  font-family: $f-normal;
  font-weight: $fw-thin;
	@include font-rem(16px);
}

@include media-query(wide) {
	.blog__out {
		width: 88%;
		max-width: 1180px;

		.blog__copy {
		  width: 100%;
		  margin: 0;
		}
	}

	.blog__out_right {
		margin-left: auto;
	}

	.blog__spread {
		@include flexbox;
		padding-bottom: 60px;
	}
	.blog__body_slot {
		padding-bottom: 60px;
		.blog__copy {
		  max-width: 80%;
		}
	}

	.blog__spread_upside {
		@include flex-direction(row-reverse);
		.blog__pullquote {
			margin-right: 70px;
			margin-left: -140px;
		}
		.blog__picture {
			margin-right: 0;
			margin-left: 48px;
		}
	}

	.blog__copy {
	  max-width: 60%;
	}

	.blog__pullquote {
		margin-right: -70px;
		@include align-self(center);
	}
	.blog__picture {
		margin-right: 48px;
		padding-bottom: 0;

		&+.blog__copy {
			@include align-self(center);
		}
	}
	.blog-card__item {
	  padding: 30px;
	}
	.bolg__data {
	  @include font-rem(18px);
	}

}
@media only screen and (min-width: 1170px) {
	.blog__picture {
		min-width: 510px;
	}
}

//panel
.panel {
  padding-top: 8px;
  padding-bottom: 32px;
  line-height: 1.6;
}

.panel__head {
  @include flexbox;
  padding: 16px 0;
  margin: 16px 0 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: $fw-bold;
  @include font-rem(18px);
  border-bottom: 1px solid #efefef;
  &:before {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 2px;
    margin-right: 12px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    @include font-rem(10px);
    border: 1px solid $c-default;
    border-radius: 50%;
  }
}

.panel__body {
  height: 0;
  opacity: 0;
  padding-left: 0;
  overflow: hidden;
  visibility: hidden;
  font-family: $f-normal;
  font-weight: $fw-thin;
  @include font-rem(16px);
  transition: all .3s;
  p {
    margin: 16px 0;
  }
}

.panel_active {
  &:before {
    content: unicode($i-less);
    color: $c-brand;
    @include font-rem(2px);
    border: 1px solid $c-brand;
  }
  +.panel__body {
    height: auto;
    padding-left: 36px;
    opacity: 1;
    visibility: visible;
  }
}

.panel__list {
  list-style: none;
  margin: 0;
  li {
    position: relative;
    padding-left: 16px;
    margin: 8px 0;
    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $c-brand;
    }
  }
}

.panel__ordenlist {
  list-style: none;
  counter-reset: section;
  margin: 0;
  li {
    position: relative;
    padding-left: 24px;
    margin: 16px 0;
    &:before {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      top: 4px;
      left: 0;
      text-align: center;
      display: block;
      width: 18px;
      height: 18px;
      line-height: 16px;
      color: $c-neutro;
      @include font-rem(12px);
      font-family: $f-normal;
      font-weight: $fw-thin;
      border-radius: 50%;
      background-color: $c-brand;
    }
  }
}

@include media-query(medium) {
  .panel {
    padding-top: 16px;
    padding-bottom: 54px;
  }
  .panel__body {
    @include font-rem(18px);
  }
}
.blog__picture_spaced {
	margin: 1em 0;
	max-width: 100%;
	width: 100%;
}

