/*------------------------------------*\
	Slider prilover Home
\*------------------------------------*/
.slider-fullwide {
  padding-bottom: 20px;
  .swiper-container {
    &>.swiper-pagination-progressbar {
      width: 100%;
      max-width: 360px;
      left: 50%;
      bottom: 0;
      top: inherit;
      height: 6px;
      border-radius: 25px;
      border: 1px solid $c-default-3;
      transform: translateX(-50%);
      background-color: $c-neutro;
    }
  }
  .swiper-pagination-progressbar {
    .swiper-pagination-progressbar-fill {
      background: $c-brand;
    }
  }
}

.slide-group__item {
  display: block;
  text-align: center;
  color: $c-default-2;
}

.slide-group__avatar {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  border: 6px solid $c-neutro;
  transition: all .2s ease-in-out;
  &:hover {
    border: 8px solid $c-brand;
  }
}

.slide-group__picture {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  transform: translate(-50%, -50%);
}

.slide-group__name {
  padding: 16px 4px;
  @include font-rem(12px);
  font-family: $f-fancy;
  font-weight: $fw-medium;
}

.slide-group__type {
  position: relative;
  padding-top: 12px;
  @include font-rem(14px);
  text-transform: uppercase;
  &:before {
    position: relative;
    top: 2px;
    vertical-align: top;
    padding-right: 4px;
    @include font-rem(14px);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 44px;
    height: 1px;
    margin-left: -22px;
    background-color: $c-default;
  }
}

.slider-fullwide__footer {
  text-align: right;
  padding: 20px 20px 0 0;
  .link_underline {
    display: inline-block;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  .slider-fullwide {
    .swiper-container {
      &>.swiper-pagination-progressbar {
        display: none;
      }
    }
  }
}

// $bp-medium: 768px;
@include media-query(medium) {
  .slider-fullwide {
    padding: 20px 0;
    .swiper-container {
      &.swiper-container-horizontal {
        padding-bottom: 52px;
      }
    }
  }

  .slide-group__avatar {
    width: 140px;
    height: 140px;
     &:hover {
       border: 12px solid $c-brand;
     }

  }
  .slide-group__name {
    @include font-rem(14px);
  }

  .slide-group__type {
    @include font-rem(18px);
    text-transform: uppercase;
    &:before {
      top: 0;
      @include font-rem(22px);
    }
  }

}
