//*------------------------------------*\
    //Variables Typo font
//*------------------------------------*/
//font root
$font-path: "/static/fonts" !default;

//Variables font family:
$f-normal : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-default: 'Roboto Condensed','Helvetica Neue', Helvetica, Arial, sans-serif;
$f-fancy  : 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Variables font-weight
$fw-thin     : 100; //Roboto
$fw-light    : 300; //Montserrat
$fw-regular  : 400; //Roboto  //R. Condensed
$fw-medium   : 500; //Montserrat
$fw-semi-bold: 600; //Montserrat
$fw-bold     : 700; //Montserrat //R. Condensed

//V7 - Variables font-ico
$i-insta: \e91e;
$i-fb: \e91f;
$i-twitter: \e920;
$i-insta-red: \e928;
$i-twitter-red: \e929;
$i-fb-red: \e92a;
$i-prilov: \e900;
$i-starts: \e901;
$i-alert-info: \e924;
$i-alert-circle: \e925;
$i-alert: \e926;
$i-help: \e94b;
$i-sell: \e919;
$i-feedback: \e916;
$i-chat: \e946;
$i-card: \e91a;
$i-bank-data: \e92f;
$i-data: \e931;
$i-money: \e91b;
$i-credits: \e92d;
$i-tula: \e93c;
$i-return: \e94c;
$i-trip: \e91c;
$i-user: \e90f;
$i-user-x: \e927;
$i-bell: \e911;
$i-tag: \e913;
$i-shop: \e914;
$i-closet: \e92e;
$i-dress: \e903;
$i-bag: \e910;
$i-clock: \e93d;
$i-camera: \e952;
$i-box: \e951;
$i-it-girl: \e902;
$i-favorite: \e92c;
$i-heart: \e904;
$i-heart-on: \e923;
$i-start: \e922;
$i-star-on: \e939;
$i-smile: \e947;
$i-sad: \e93e;
$i-car: \e912;
$i-sale: \e930;
$i-upload: \e93b;
$i-blog: \e932;
$i-email: \e93a;
$i-rocket: \e940;
$i-send: \e915;
$i-shipping: \e92b;
$i-singup: \e91d;
$i-report: \e945;
$i-filter: \e90b;
$i-filter-admin: \e944;
$i-config: \e941;
$i-search: \e908;
$i-search-plus: \e948;
$i-search-less: \e917;
$i-view: \e909;
$i-trash: \e93f;
$i-edit-line: \e938;
$i-edit: \e907;
$i-blog-admin: \e943;
$i-reload: \e90c;
$i-like: \e906;
$i-check: \e942;
$i-ok: \e90a;
$i-plus: \e933;
$i-less: \e905;
$i-less-circle: \e937;
$i-close: \e90d;
$i-x: \e921;
$i-up: \e949;
$i-down: \e94a;
$i-back: \e90e;
$i-next: \e934;
$i-back-s: \e935;
$i-next-s: \e936;
$i-hide: \e918;
