/*------------------------------------*\
	Alertas
\*------------------------------------*/

.alert {
  border: 1px solid $c-brand;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
  background-color: $c-neutro;
  &.status_check {
    .alert__txt {
    &:before {
      color: $c-ok;
      }
    }
  }
}

.alert-msg {
  @include flexbox;
  @include align-items(center);
  padding: 24px;
  @include font-rem(16px);
  p {
    margin: 0;
  }
  &:before {
    @include font-rem(30px);
    padding-right: 16px;
    line-height: 1;
  }
  &.i-ok {
    &:before {
      @include font-rem(18px);
    }
  }
}
.alert-msg_center {
  @include justify-content(center);
}
.alert-msg_top {
  padding-top: 0;
}
.alert-msg_spacing {
 display: block;
 text-align: center;
 padding-bottom: 24px;
}



.alert__txt {
  font-family: $f-fancy;
  font-weight: $fw-semi-bold;
  text-transform: uppercase;
  @include font-rem(26px);
  margin: 0 auto;
  max-width: 900px;
  &:before {
    display: block;
    color: $c-brand;
    @include font-rem(40px);
    margin-bottom: 20px;
  }
}

.alert__info {
  margin: 0;
  @include font-rem(16px);
  &:before {
    margin-right: 8px;
    vertical-align: middle;
    color: $c-brand;
    @include font-rem(38px);
  }
}
.alert__info_spacing {
  padding-bottom: 12px;
}
@media only screen and (max-width: 600px) {
  .alert__info {
    &:before {
      display: block;
      margin-bottom: 16px;
    }
  }
}

@include media-query(medium) {
  .alert {
    margin-bottom: 60px;
  }
  .alert-msg {
    padding: 32px 0;
    @include font-rem(18px);
  }
  .alert-msg_top {
    padding-top: 0;
  }
  .alert-msg_spacing {
    padding: 0;
  }

}
