//Banner-slider
.banner-slider {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}
//carousel container
.banner-slider__container {
  height: auto;
}
.banner-slider__cell {
  width: 100%;
  height: 70vh; /* inherit height from gallery */
  overflow: hidden;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: banner-slider__cell;
  //min-height: 400px;
}
.banner-slider__slide {
  position: relative;
  min-height: 100%;
  height: 100%;

}
.banner-slider__crop {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner-slider__img {
  width: 100%;
  height: auto;
}
.banner-slider__slot {
  display: block;
  position: absolute;
  bottom: 12%;
  max-width: 570px;
  padding: 0 5% 0 5%;
  &.left {
    text-align: left;
  }
  &.right {
    right: 0;
    text-align: right;
    .banner-slider__btn {
      margin: 15px 0 15px auto;
    }
    .banner-slider__copy {
      display: inline;
    }
  }
}

.banner-slider__title {
  display: inline;
  text-transform: uppercase;
  font-family: $f-fancy;
  font-weight: $fw-medium;
  @include font-rem(35px);
  line-height: 1.5;
  padding: 2px 5px;
}
.bg_white {
  background-color: $c-neutro;
}
.bg_black {
  color:  $c-neutro;
  background-color: $c-default;
}
.banner-slider__btn {
  display: block;
  width: 80%;
  max-width: 270px;
  margin: 15px 0;
}
.banner-slider__copy {
  display: inline-block;
  font-family: $f-fancy;
  background-color: $c-default-over;
  color: $c-neutro;
  padding: 2px 5px;
  line-height: 1.8;
}
.banner-slider__code {
  text-transform: uppercase;
  @include font-rem(16px);
  padding-left: 10px;
}

@include media-query(small-medium) {
  .banner-slider__cell {
    height: 50vh; /* inherit height from gallery */
  }
  .banner-slider__btn {
    width: 60%;
  }
}
/**Banner Slider *Desktop */
// point Only mobile -tablet
@include media-query(medium) {
  .banner-slider__slot {
    bottom: 15%;
    max-width: 620px;
    &.right {
      .banner-slider__copy {
        margin-right: 30px;
      }
    }
  }
  .banner-slider__title {
    @include font-rem(45px);
  }
}
/**Banner Slider *Desktop */
// point Only mobile -tablet
@include media-query(small-wide) {
  .banner-slider__cell {
    height: 60vh; /* inherit height from gallery */
  }
}
/**Banner Slider *Desktop */
// point Only mobile -tablet
@include media-query(wide) {
  .banner-slider__cell {
    min-height: 440px;
  }
  .banner-slider__slot {
    top: -35%;
    bottom: inherit;
    padding: 0;
    -ms-transform    : translateY(50%);
    -moz-transform   : translateY(50%);
    -o-transform     : translateY(50%);
    -webkit-transform: translateY(50%);
    transform        : translateY(50%);
    &.right {
      .banner-slider__btn {
        margin: 15px 30px 15px auto;
      }
    }
  }
  .banner-slider__title {
    @include font-rem(60px);
    line-height: 1.4;
  }
  .banner-slider__btn {
    margin: 15px 0 15px 30px;
  }
  .banner-slider__copy {
    display: inline-block;
    margin-left: 30px;
  }
}
