/*------------------------------------*\
	box | flat
\*------------------------------------*/
.box-flat {
  display: block;
  padding: 16px;
  border: 1px solid $c-neutro-3;
  margin-bottom: 40px;
}

.box-flat__grid {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  margin: 0 auto;
  .form__switch {
    height: 42px;
  }
}
  .box-flat__lead {
    @include flexbox;
    @include flex-direction(column);
    width: 100%;
    &:before {
      @include font-rem(38px);
      color: $c-brand;
      padding-bottom: 16px;
      text-align: center;
    }
    &.i-trip {
      &:before {
        @include font-rem(30px);
      }
    }
  }
  .box-flat__title {
    @include font-rem(20px);
    padding-bottom: 8px;
    text-align: center;
  }
  .box-flat__txt {
    margin: 0;
    letter-spacing: 6px;
    color: $c-brand;
    font-family: $f-fancy;
    font-weight: $fw-medium;
    text-align: center;
  }
  .box-flat__button {
    width: 100%;
    padding-top: 10px;
    min-width: 130px;
    text-align: center;
    .link_underline {
      @include font-rem(16px);
    }
  }
  .box-flat__value {
    margin: 0;
    padding-bottom: 8px;
    font-family: $f-normal;
    font-weight: $fw-thin;
    @include font-rem(28px);
  }


// $bp-medium: 768px;
@include media-query(medium) {
  .box-flat {
    padding: 24px;
    margin: 0 auto 40px;
  }
  .box_alert {
    .box-flat__lead {
      .box-flat__title {
        text-align: left;
      }
      &:before {
        @include font-rem(56px);
      }
      .box__txt {
        margin-bottom: 16px;
      }
    }
    .box-flat__button {
      padding-right: 0;
    }
  }
  .box-flat__grid {
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(inherit);
    max-width: inherit;
    text-align: left;
  }
    .box-flat__lead {
      @include flex-direction(row);
      @include align-items (center);
      @include font-rem(16px);
      padding-right: 20px;
       &:before {
        @include font-rem(50px);
        color: $c-brand;
        padding-right: 20px;
        padding-bottom: 0;
      }
      &.i-trip {
        &:before {
          @include font-rem(40px);
        }
      }
      .box-flat__title {
        text-align: left;
      }
      .box__txt {
        margin-bottom: 0;
      }

    }
    .box-flat__button {
      width: inherit;
      text-align: center;
      padding: 0 30px 0 0;
    }
    .box-flat__title {
      @include font-rem(18px);
      padding-bottom: 0;
    }
    .box-flat__txt {
      padding-left: 30px;
    }
}

@include media-query(wide) {
  .box_alert {
    .box-flat__lead {
      &:before {
        @include font-rem(66px);
      }
    }
  }
  .box-flat__lead {
    &:before {
      @include font-rem(60px);
    }
  }
  .box-flat__title {
    @include font-rem(20px);
  }
}
