.box-cards {
  padding: 8px 10px 14px;
  .btn {
    min-width: auto;
    @include font-rem(14px);
    padding: 10px;
  }
  .card__price {
    @include font-rem(20px);
  }
  .card__title {
    @include font-rem(14px);
  }
  .card__size {
    @include font-rem(14px);
  }
  .card__info {
    padding-left: 20px;
  }
}
// menu desplegable Bolsa de compras
.user-auth__boxes {
  right: -10px;
  display: inline-block;
  // min-width: 140px;
  min-width: 260px;
  max-height: 588px;
  margin-top: 17px;
  overflow-y: scroll;
  border: 1px solid $c-default;
}

.box-cards__head{
  position: relative;
  border-bottom: 1px solid $c-default;
  padding: 16px 0px;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}
.box-cards__subhead {
  padding: 16px;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

.box-cards__title {
  color: $c-default;
  font-weight: $fw-bold;
  font-family: $f-default;
  @include font-rem(16px);

  margin: 0;
}

.box-cards__number {
  color: $c-default;
  @include font-rem(22px);
  font-family: $f-normal;
  font-weight: $fw-thin;
}

.box-cards__item {
  @include flexbox;
  @include align-items(center);
  position: relative;
  padding: 8px 0;
  border-top: 1px solid $c-neutro-3;
  .list__card {
    padding-right: 0;
    width: 90%;
    &:first-child {
      padding-bottom: 0;
    }
  }
  .card__product {
    @include align-items(center);
  }
  .card__title {
    font-weight: $fw-semi-bold;
  }
  .card__figure {
    width: 70px;
    min-width: 70px;
    max-width: initial;
  }
}
.box-cards__btn {
  font-size: 0;
  border: none;
  background-color: transparent;
  &:before {
    position: relative;
    right: -10px;
    @include font-rem(14px);
    color: $c-default;
  }
}
.box-cards__btn-x {
  display: inline-block;
  position: relative;
  color: $c-default;
  width: 16px;
  font-size: 0;
  &:before {
    @include font-rem(16px);
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $c-brand;
    margin-top: 6px;
  }
}
.box-cards__value {
  padding-right: 20px;
}

//$bp-medium: 768px;
@include media-query(medium) {
  .box-cards__number {
    @include font-rem(22px);
  }
}