/*------------------------------------*\
	Chat
\*------------------------------------*/

/*----------------------------------------*\
  Estilos generales para busbujas de chat
\*----------------------------------------*/

.chat-bubble__img {
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid $c-brand;
}

.chat-bubble__txt {
  margin: 0 8px 0 0;
  line-height: 1.2;
  @include font-rem(14px);
  color: $c-default-5;
  border-width: 1px;
  border-style: solid;
  border-radius: 18px;
}

.chat-bubble__noti {
  position: relative;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $c-brand;
  &:before {
    position: absolute;
    top: 3px;
    left: 3px;
    @include font-rem(7px);
    color: $c-neutro;
  }
}

.chat-line {
  margin-bottom: 24px;
}

/*------------------------------------*\
  Burbuja principal de chat
\*------------------------------------*/

.chat__bubble-main {
  @include flexbox;
  @include align-items(flex-start);
  .chat-bubble__img {
    width: 35px;
    height: 35px;
  }
  .chat-bubble__txt {
    margin-bottom: 16px;
    padding: 8px 18px;
    border-color: $c-brand;
  }
}

/*------------------------------------*\
  Burbuja secundaria de chat
\*------------------------------------*/

.chat__bubble {
  @include flexbox;
  @include align-items(center);
  padding-left: 30px;
  .chat-bubble__img {
    width: 22px;
    height: 22px;
  }
  .chat-bubble__txt {
    padding: 4px 24px;
    border-color: $c-default-4;
  }
}

/*------------------------------------*\
  Grilla de producto y chat
\*------------------------------------*/

.chat__grid {
  @include flexbox;
  @include flex-direction(column);
  .slot_grid {
    width: 100%;
    max-width: 200px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
}

.chat-inner {
  margin-top: 6px;
  background-color: $c-neutro-4;
}

.chat__form {
  width: 96%;
  padding: 14px 0 20px;
  margin: 0 auto;
}

.chat__label {
  display: block;
  padding-bottom: 8px;
}
//btn enviar
.chat__btn-solid {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  line-height: 26px;
  color: $c-neutro;
  border: none;
  border-radius: 50%;
  background-color: $c-brand;
}

.chat__btn-flat {
  display: none;
  &:before {
    display: block;
    width: 26px;
    height: 26px;
  }
}

.chat__btn-group {
  @include flexbox;
  @include justify-content(flex-end);
}

.chat__btn {
  &:before {
    color: $c-default-2;
    @include font-rem(24px);
  }
}

.chat__label-flat {
  margin-right: 10px;
}

.chat__textarea {
  margin-bottom: 5px;
}

.btn-back {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 16px;
  font-weight: $fw-bold;
  color: $c-brand;
  @include font-rem(16px);
  &:before {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 6px 4px 5px;
    margin-top: -3px;
    margin-right: 6px;
    border-radius: 50%;
    border: 2px solid $c-brand;
    @include font-rem(10px);

  }
}

.chat__message_inner {
  height: 300px;
  overflow: auto;
}

.chat__message-flex {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-end);
  padding: 0 20px;
}

/*----------------------------------------*\
  Editor detalle producto
\*----------------------------------------*/
.chat__group {
  padding-bottom: 16px;
  .chat-line {
    display: inline-block;
  }

}

.editor {

}
  .editor__textarea {
    margin-right: 12px;
    padding: 5px 12px;
    resize: none;
    border-color: $c-default-4;
    border-radius: 18px;
  }
  .editor__btn {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    color: $c-brand;
  }



 
@media only screen and (min-width: 560px) {
  .chat__form {
    padding: 28px 20px 48px 30px;
  }

  .chat__form-group {
    @include flexbox;
    @include align-items(center);
  }

  .chat__textarea {
    margin-right: 10px;
    border: 1px solid $c-default-4;
  }

  .chat__btn-file {
    position: relative;
  }

  .chat__label-flat {
    display: block;
    width: 26px;
    height: 26px;
  }

  .chat__textarea {
    margin-bottom: 0;
    resize: none;
  }

  .btn-back {
    margin-bottom: 28px;
  }
}

@include media-query(medium) {
  /*------------------------------------*\
    Grilla de producto y chat
  \*------------------------------------*/
  .chat-bubble__txt {
    @include font-rem(16px);
  }

  .chat__grid {
    @include flex-direction(row);
    @include align-items(flex-end);
    .slot_grid {
      width: 100%;
      max-width: 320px;
      padding: 0 26px 0 0;
    }
  }

    .chat__message {
      width: 100%;
    }
}