/*------------------------------------*\
	Chat
\*------------------------------------*/
//avatar del mensaje
.chat-bubble__avatar {
  margin-right: 8px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid $c-brand;
}
.chat-bubble__img {
  width: 100%;
}

//texto del mensaje
.chat-bubble__txt {
  margin: 0 8px 0 0;
  line-height: 1.2;
  @include font-rem(14px);
  color: $c-default-5;
  border-width: 1px;
  border-style: solid;
  border-radius: 18px;
}

.chat-bubble__noti {
  position: relative;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $c-brand;
  &:before {
    position: absolute;
    top: 3px;
    left: 3px;
    @include font-rem(7px);
    color: $c-neutro;
  }
}

.chat-line {
  margin-bottom: 8px;
}

/*------------------------------------*\
  Burbuja principal de chat
\*------------------------------------*/

.chat__bubble-main {
  @include flexbox;
  @include align-items(flex-start);
  margin-bottom: 16px;
  .chat-bubble__avatar {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
  }
  .chat-bubble__txt {
    padding: 8px 18px;
    border-color: $c-brand;
  }
}

/*------------------------------------*\
  Burbuja secundaria de chat
\*------------------------------------*/

.chat__bubble {
  @include flexbox;
  @include align-items(center);
  padding-left: 30px;
  margin-bottom: 16px;

  .chat-bubble__avatar {
    min-width: 22px;
    max-width: 22px;
    height: 22px;
  }
  .chat-bubble__txt {
    padding: 4px 24px;
    border-color: $c-default-4;
  }
}

/*------------------------------------*\
  Grilla chat
\*------------------------------------*/

.chat__grid {
  @include flexbox;
  @include flex-direction(column);
  .slot_grid {
    width: 100%;
    max-width: 200px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
}

.chat-inner {
  margin-top: 6px;
  background-color: $c-neutro-4;
}

.chat__form {
  width: 96%;
  padding: 14px 0 20px;
  margin: 0 auto;
}

.chat__label {
  display: block;
  padding-bottom: 8px;
}
//btn enviar
.chat__btn-solid {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  line-height: 26px;
  color: $c-neutro;
  border: none;
  border-radius: 50%;
  background-color: $c-brand;
}

.chat__btn-flat {
  display: none;
  &:before {
    display: block;
    width: 26px;
    height: 26px;
  }
}

.chat__btn-group {
  @include flexbox;
  @include justify-content(flex-end);
}

.chat__btn {
  padding-bottom: 2px;
  &:before {
    color: $c-default-2;
    @include font-rem(24px);
  }
}

.chat__label-flat {
  margin-right: 10px;
}

.chat__textarea {
  margin-bottom: 5px;
}

.btn-back {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 16px;
  font-weight: $fw-bold;
  color: $c-brand;
  @include font-rem(16px);
  &:before {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 6px 4px 5px;
    margin-top: -3px;
    margin-right: 6px;
    border-radius: 50%;
    border: 2px solid $c-brand;
    @include font-rem(10px);

  }
}

.chat__message_inner {
  height: 300px;
  overflow: auto;
}

.chat__message-flex {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-end);
  padding: 0 20px;
}


@media only screen and (min-width: 560px) {
  .chat__form {
    padding: 28px 20px 48px 30px;
  }

  .chat__form-group {
    @include flexbox;
    @include align-items(center);
  }

  .chat__textarea {
    margin-right: 10px;
    border: 1px solid $c-neutro-5;
  }

  .chat__btn-file {
    position: relative;
  }

  .chat__label-flat {
    display: block;
    width: 26px;
    height: 26px;
  }

  .chat__textarea {
    margin-bottom: 0;
    resize: none;
  }

  .btn-back {
    margin-bottom: 28px;
  }
}

@include media-query(medium) {
  /*------------------------------------*\
    Chat
  \*------------------------------------*/
  .chat-bubble__txt {
    @include font-rem(16px);
  }

  .chat__grid {
    @include flex-direction(row);
    @include align-items(flex-end);
    .slot_grid {
      width: 100%;
      max-width: 320px;
      padding: 0 26px 0 0;
    }
  }

    .chat__message {
      width: 100%;
    }
}

/*----------------------------------------*\
   Preguntas detalle producto
\*----------------------------------------*/
.chat-band {
  margin-top: 50px;
  padding: 50px 0;
  .chat {
    width: 100%;
  }
}

.chat-band__header {
  padding-bottom: 44px;
}

.chat__group {
  padding-bottom: 16px;
  
  .chat-bubble__txt {
    margin-right: 0;
  }
}
.chat__line {
  margin-right: 50px;
  .chat__bubble-main {
    margin-bottom: 0;
  }
  .chat__bubble {
    margin-bottom: 0;
  }
}
.chat__inner {
  display: inline-block;
  padding-bottom: 16px;
}

.chat__subhead {
  display: inline-block;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-family: $f-fancy;
  font-weight: $fw-light;
  @include font-rem(18px);
}
.chat__footer {
  @include flexbox;
  @include align-items(baseline);
  @include justify-content(space-around);
  padding: 6px 0 0 62px;

}
.chat__footer_main {
  padding-left: 46px;
}

.chat__date {
  width: 100%;
  color: $c-default-4;
  @include font-rem(10px);
}

.chat-break {
  display: block;
  text-align: center;
  &:after,
  &:before {
    content: '';
  }
}

.chat-break__bullet,
.chat-break:before,
.chat-break:after {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $c-default-4;
}

.chat-break__bullet {
  margin: 0 12px;
}

/*----------------------------------------*\
  Editor
\*----------------------------------------*/

.editor {
  margin-left: 46px;
  padding-bottom: 16px;
  .chat__form-group {
    @include align-items(flex-end);
  }
}

.editor__textarea {
  margin-right: 12px;
  padding: 5px 12px;
  resize: none;
  border-color: $c-default-4;
  border-radius: 18px;
}

.editor__btn {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  text-align: right;
  color: $c-brand;
  @include font-rem(12px);
}

.chat-band__grid {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}

.chat-query {
  width: 100%;
  padding: 20px;
  .chat__form {
    padding: 0 0 16px 0;
  }
  .form__textarea {
    height: 100px;
  }
  .chat__btn-solid {
    display: block;
    margin: 8px 0 0 auto;
  }
}
//funcionalidad sticky
.chat_sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 120px;
}

// caja alerta 
.chat-alert {
  width: 96%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $c-brand;
  @include font-rem(14px);
  &:before {
    display: block;
    @include font-rem(40px);
    color: $c-brand;
    text-align: center;
    padding-bottom: 16px;
  }
}

//$bp-wide: 768px;
@include media-query(medium) {
  .chat-band {
    .chat {
      width: 50%;
    }
  }
  .chat-query {
    width: 50%;
    padding: 0 20px;
  }
}

//$bp-wide: 1024px;
@include media-query(wide) {

  .chat-query {
    width: 40%;
    .form__textarea {
      height: 160px;
    }
  }
  // caja alerta 
  .chat-alert {
    @include flexbox;
    @include align-items(center);
    @include font-rem(14px);
    &:before {
      @include font-rem(40px);
      color: $c-brand;
      padding-bottom: 0;
      padding-right: 16px;
    }
  }

}
