.chat-slot {
  padding-top: 32px;
  .chat {
    width: 100%;
  }
}
.chat-slot__block {
  @include flexbox;
  @include flex-wrap(wrap);
}
.chat-notify {
  width: 100%;
  padding: 20px;
  .chat__form {
    padding: 0 0 16px 0;
  }
  .form__textarea {
    height: 162px;
  }
  .chat__btn-solid {
    display: block;
    margin: 14px 0 0 auto;
  }
}
.chat-alert {
  width: 96%;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  border: 1px solid $c-brand;
  @include font-rem(16px);
  &:before {
    display: block;
    @include font-rem(40px);
    color: $c-brand;
    text-align: center;
    padding-bottom: 16px;
  }
}

//$bp-medium: 980px;
@include media-query(small-wide) {
  .chat-slot {
    padding-top: 56px;
    .chat {
      width: 50%;
    }
  }
  .chat-notify {
    width: 50%;
  }
}
//$bp-wide: 1024px;
@include media-query(wide) {
  .chat-slot {
    //padding-top: 56px;
    .chat {
      width: 60%;
    }
  }
  .chat-notify {
    width: 40%;
  }
}