/*------------------------------------*\
	collapsible
\*------------------------------------*/

.collapsible {
  list-style: none;
  margin: 0;
  padding: 0 0 30px 0;
}
.collapsible__item {
  padding: 16px 0;
  @include font-rem(16px);
  border-bottom: 1px solid $c-neutro-3;
  transition: all .3s ease-in-out;
}

.collapsible__header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  margin-bottom: 16px;
  padding: 0 16px;
  transition: all .2s ease-in-out;
  p {
    margin: 0;
  }
  &:before {
    @include order(3);
    min-width: 46px;
    margin-bottom: 16px;
    text-align: right;
    color:$c-brand;
    @include font-rem(10px);
  }
}
.collapsible__child {
  width: 50%;
}

.collapsible__title {
  @include font-rem(18px);
  font-weight: $fw-bold;
}
.collapsible__label {
  color: $c-brand;
  @include font-rem(14px);
}
.collapsible__subchild {
  text-align: right;
}

.collapsible__value {
  color: $c-ok;
  font-family: $f-normal;
  font-weight: $fw-regular;
  @include font-rem(18px);
}
.collapsible__data {
  font-family: $f-normal;
  font-weight: $fw-light;
  @include font-rem(12px);
}
.collapsible__body {
  margin: 0 8px;
  padding: 16px 0 8px;
  list-style: none;
  @include flexbox;
  @include justify-content(space-between);
  border-top: 1px solid $c-neutro-3;
}
.collapsible__subitem {
  max-width: 20%;
  padding: 8px;
} 
.collapsible__img {
  width: 100%;
  max-width: 68px;
  vertical-align: bottom;
}
.collapsible__subtitle {
  @include font-rem(14px);
  margin: 0;
  padding: 16px 0 8px;
}
.collapsible__meta {
  margin: 0;
  font-family: $f-normal;
  font-weight: $fw-light;
  @include font-rem(14px);
}

.collapsible__item_active {
  background-color: $c-neutro-4;
  border-bottom-color: $c-neutro-4;
}
// Mobile Only
@media only screen and (max-width: 579px) {
  .collapsible__body {
    @include flex-wrap(wrap);
  }

  .collapsible__subitem {
    max-width: 25%;
  }
  .collapsible__subtitle {
    padding-top: 8px;
  }

  .collapsible_big {
    width: 100%;
    max-width: 100%;
  }
}

// $bp-medium: 768px;
@include media-query(medium) {
  .collapsible__header {
    padding: 0 16px;
  }

  .collapsible__body {
    margin: 0 16px;
  }
}
