/*------------------------------------*\
  List carrito compra
  color: $c-brand;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  @include flex-grow(1);
  @include align-self(flex-end);
\*------------------------------------*/
.list__grid {

}
.list__card {
  // @include flexbox;
  // @include justify-content(space-around);
}
.card__product {
  @include flexbox;
  @include justify-content(space-between);
}
  .card__img {
    width: 100%;
    max-width: 126px;
    height: auto;
    vertical-align: bottom;
  }
  .card__lead {
    color: $c-default;
    font-family: $f-fancy;
    font-weight: $fw-medium;
    p{
      margin: 0;
    }
  }
  .card__title {
    @include font-rem(16px);
  }




// $bp-small-medium: 640px;
@include media-query(small-medium) {


}
//$bp-medium: 768px;
@include media-query(medium) {
  
}

//$bp-wide: 1024px;
@include media-query(wide) {
  
}

