/*------------------------------------*\
  Notificacciones
\*------------------------------------*/
.notify {
  padding: 20px 0;
}

.notify__ico {
  &:before {
    display: block;
    text-align: center;
    @include font-rem(44px);
  }
}

.notify__title {
  margin-bottom: 10px;
}

.notify__body {
  padding: 20px 0; 
}

.notify__footer {
  padding-top: 10px;
}

.notify__row {
  padding-bottom: 16px;
}
