/*------------------------------------*\
	GAaleria de producto con opacidad
\*------------------------------------*/
.prod-gridlight {
  .section__head {
    padding-bottom: 40px;
  }
  .title_head {
    padding-bottom: 20px;
    }
  .title_subhead {
    max-width: 840px;
    margin: 0 auto;
    padding-top: 0;
  }
  .slot__product_sold {
    position: relative;
    background-color: $c-default-3;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  .slot__badge {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefixer(transform, translate(-50%, -50%), ("webkit", "moz"));
    display: block;
    color: $c-neutro;
    @include font-rem(18px);
    font-family: $f-normal;
    font-weight: 100;
    text-transform: uppercase;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      display: block;
      width: 106px;
      height: 106px;
      margin: auto;
      background-color: $c-default;
      border-radius: 50%;
      @include prefixer(transform, translate(-50%, -50%), ("webkit", "moz"));
    }
  }
  .filtrate-box {
    max-width: 320px;
    margin: 0 auto 0 0;
    padding-bottom: 40px;
  }
}
// $bp-medium: 768px;
@include media-query(medium) {
  .product-gridlight {
    .title_head {
      padding-bottom: 0;
    }
    .section__head {
      padding-bottom: 60px;
    }
  }
}