/*------------------------------------*\
	Producto grid Home
\*------------------------------------*/
.section_product {
  width: 96%;
  max-width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  .alert {
    margin-top: 40px;
  }
}
.section-head {
  padding-bottom: 40px;
}
.product-grid {
  @include flexbox;
  @include flex-wrap(wrap);
  // @include justify-content(space-between);
  margin: 0 -10px;
}
.slot__discount {
  padding: 12px;
  text-align: center;
  color: $c-neutro;
  font-family: $f-normal;
  font-weight: $fw-bold;
  background-color: $c-urgent;
}

.slot {
  position: relative;
}
.slot_disabled {
  .slot__img {
    opacity: .2;
  }
  .slot__lead {
    opacity: .4;
  }
  .slot__info {
    opacity: .4;
  }
  .slot__user {
    opacity: .4;
  }
}

.slot__status {
  @include font-rem(10px);
  color: $c-neutro;
}

.slot_grid {
  width: 50%;
  padding: 0 10px 32px;
}

.slot__ico {
  position: absolute;
  top: 6px;
  right: 15px;
  width: 36px;
  height: 36px;
  @include font-rem(0px);
  text-align: center;
  border-radius: 50%;
  background-color: $c-neutro;
  transition: all 2s ease;
  &:before {
    position: relative;
    top: 2px;
    line-height: 1.7;
    color: $c-brand;
    @include font-rem(20px);
  }
  &.enableFavorite {
    overflow: hidden;
    &:before {
      content: unicode($i-heart-on);
    }
  }
}
// $bp-medium: 375px;
@include media-query(small) {
  .slot__status {
    @include font-rem(12px);
    color: $c-neutro;
  }

}

@media only screen and (min-width: 560px) {
  .slot_grid {
    width: 33.333%;
  }
}

// $bp-medium: 768px;
@include media-query(medium) {
  .section_product {
    .alert {
      margin-top: 60px;
    }
  }
  .product-grid {
    margin: 0 -14px;
  }

  .slot_grid {
    padding: 0 14px 40px;
  }

  .slot__ico {
    right: 20px;
    width: 40px;
    height: 40px;
    &:before {
      @include font-rem(24px);
    }
  }
  .slot__status {
    @include font-rem(14px);
  }

}

// $bp-wide: 1024px;
@include media-query(wide) {
  .product-grid {
    margin: 0;
  }
  .slot_grid {
    padding: 0 16px 40px;
  }
  .product-grid_small {
    margin: 0 -16px;
  }

  .slot__ico {
    right: 24px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1070px) {
  .slot__status {
    @include font-rem(12px);
  }

}


@include media-query(big) {
  .section_product {
    max-width: 1314px;
  }
    .slot_grid {
      width: 25%;
    }
}


/*------------------------------------*\
	Producto slot
\*------------------------------------*/

.slot__product {
  display: block;
  color: $c-default;
  font-family: $f-fancy;
  font-weight: $fw-medium;
}
  .slot__img {
    width: 100%;
    vertical-align: bottom;
  }
  .slot__lead {
    display: table;
    width: 100%;
    padding: 6px 0;
  }
  .slot__title {
    display: table-cell;
    vertical-align: middle;
    padding-right: 6px;
    @include font-rem(12px);
  }
  .slot__size {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }

  .slot__size-txt {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $c-neutro;
    @include font-rem(12px);
    font-family: $f-normal;
    font-weight: $fw-regular;
    background-color: $c-default;
    border-radius: 50%;
  }
  //- brand/price
  .slot__info {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    padding: 6px 0;
    border-top: 1px solid $c-default;
    border-bottom: 1px solid $c-default;
    
  }
  .slot__info_top {
    margin-top: 18px;
  }

  .slot__brand {
    padding-right: 6px;
    @include font-rem(10px);
  }
  .slot__group_price {
    text-align: right;
  }
  .slot__price {
    font-family: $f-normal;
    font-weight: $fw-thin;
    @include font-rem(18px);
  }
  .slot__price_through {
    display: inline-block;
    padding: 0 4px;
    position: relative;
    font-family: $f-normal;
    font-weight: $fw-thin;
      
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      margin-top: -1px;
      border: 1px solid $c-brand;
    }
  }

  //- user: picture/first_name/last_name
  .slot__user {
    @include flexbox;
    @include align-items(center);
    padding: 6px 0;
    color: $c-default;
  }
  .slot__user-img {
    padding-right: 14px;
  }

  .slot__avatar {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    .slot__picture {
      position: relative;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      transform: translate(-50%, -50%);
    }
    .tool-user__letter {
      color: $c-neutro;
      line-height: 40px;
    }
  }

  .slot__user-info {
    display: inline-block;
    vertical-align: middle;
  }
  .slot__prilover {
    @include font-rem(12px);
    font-weight: $fw-bold;
  }

  .slot__group {
    @include font-rem(14px);
    text-transform: uppercase;
    &:before {
      position: relative;
      top: 2px;
      vertical-align: top;
      padding-right: 4px;
      @include font-rem(14px);
    }
  }

/*------------------------------------*\
	Alerta eliminr producto
\*------------------------------------*/
  .slot-alert__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    font-family: $f-default;
    padding: 0 20px;
    z-index: 3;
    background-color: #ffffffe8;
    border: 2px solid $c-brand;
  }
  
  .slot-alert__txt {
    text-align: center;
    margin: 0 0 30px;
    @include font-rem(16px);
    &:before {
      display: block;
      padding-bottom: 30px;
      @include font-rem(60px);
      color: $c-brand;
    }
  }

  .slot-alert__group-btn {
    @include flexbox;
    @include justify-content(space-between);
    padding: 0 10px;
  }

  .slot-alert__btn {
    background-color: transparent;
  }

// $bp-medium: 375px;
@include media-query(small) {
  .slot__title {
    padding-right: 16px;
  }

  .slot__brand {
    padding-right: 16px;
  }

}

// $bp-medium: 768px;
@include media-query(medium) {
  //-title/dimensions
  .slot__title {
    font-weight: $fw-bold;
    @include font-rem(16px);
  }

  .slot__lead {
    padding: 14px 0;
  }

  .slot__size-txt {
    width: 36px;
    height: 36px;
    line-height: 36px;
    @include font-rem(16px);
  }
   //- brand/price
  .slot__info {
    padding: 14px 0;
  }

  .slot__brand {
     @include font-rem(14px);
  }
  .slot__price {
    @include font-rem(24px);
  }

  //- user: picture/first_name/last_name
  .slot__user {
    padding: 14px 0;
  }
  .slot__avatar {
    width: 54px;
    height: 54px;
    .tool-user__letter {
      line-height: 54px;
    }
  }

  .slot__prilover {
    @include font-rem(16px);
  }
  .slot__group {
    @include font-rem(18px);
    &:before {
      top: 0;
      vertical-align: text-bottom;
      @include font-rem(26px);
    }
    &.i-star-on {
      &:before {
        top: -1px;
        vertical-align: baseline;
        @include font-rem(18px);
      }
    }
  }
  .section_product__footer {
    padding-bottom: 60px;
    text-align: center;
  }
}
// $bp-wide: 1024px;
@include media-query(wide) {
  //-title/dimensions
  .slot__title {
    font-weight: $fw-bold;
    @include font-rem(18px);
  }

  .slot__size-txt {
    width: 48px;
    height: 48px;
    line-height: 48px;
    @include font-rem(21px);
  }

  //- brand/price
  .slot__brand {
    @include font-rem(16px);
  }

  .slot__price {
    @include font-rem(32px);
  }
  .slot__price_through {
     @include font-rem(18px);
  }

}

@include media-query(big) {
  .product-grid_small {
    .slot_grid {
      width: 33.33%;
    }
  }
}

