.single__step {
  text-align: center;
  margin-bottom: 24px;
  .single__title {
    @include font-rem(24px);
  }
  .boxcheck__grid {
    @include flex-wrap(wrap);
    @include justify-content(center);
    margin: 0 auto;
    .step-data__box {
      width: 100%;
    }
  }
  .boxcheck__box {
    img,
    span {
      margin: 0 auto;
    }
    span {
      display: block;
    }
  }
  

  //- Notify dentro de UserPriloverStar
  .notify {
    max-width: 524px;
    margin: 0 auto;
    .form__file-input {
      background-color: $c-neutro;
    }
    .form__label_file,
    .form-file__txt {
      text-align: left;
    }
  }
  .pay-off {
    margin: 0 auto;
  }
}
.single__box {
  text-align: left;
  padding: 40px 20px 40px 30px;
}
.single__box_bg {
  background-color: $c-neutro-4;
}


.single__list-rank {
  @include font-rem(16px);
  line-height: 2;
  padding-bottom: 20px;
}
.single__item-rank {
  padding-bottom: 14px;
}
.single__list {
  padding-top: 14px;
  list-style: none;
}
.single__item {
  padding-bottom: 14px;
  margin-left: 10px;
  padding-left: 0px;
  &:before {
    position: relative;
    left: 0;
    content: '-';
    display: inline-block;
    margin-left: -10px;
    padding-right: 7px;
  }
}
.single__row {
  text-align: center;
  .btn {
    margin-bottom: 30px;
  }
}

@include media-query(small-medium) {
  .single__box {
    padding: 60px 40px;
  }
  .single__list-rank {
    padding-bottom: 30px;
  }
 
}
@include media-query(medium) {
  .single__step_bg {
    margin-bottom: 50px;
  }
}
