
.step-data__table {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(space-around);
  padding-bottom: 40px;
}
.step-data__box {
  text-align: center;
  padding-bottom: 16px;
  .btn {
    max-width: 220px;
    &:first-child {
      margin-bottom: 16px;
    }
  }
}
.step-data__row {
  position: relative;
  text-align: center;
  padding: 16px 0;
  @include flex-basis(50%);
  &:last-child {
    @include flex-basis(100%);
    border-top: 1px solid $c-default;
    font-weight: $fw-semi-bold;
    .step-data__val {
      font-family: $f-default;
    }
  }
}

.c-brand {
  color: $c-brand;
}
.step-data__ico {
  position: absolute;
  top: 30%;
  right: -5px;
  @include font-rem(30px);
  font-weight: $fw-bold;
  font-family: $f-default;
  line-height: 2;
}
.step-data__item {
  @include font-rem(18px);
  font-weight: $fw-bold;
  text-transform: uppercase;
}
.step-data__val {
  font-family: $f-normal;
  font-weight: $fw-thin;
  @include font-rem(36px);
}
.step-data__txt {
  display: block;
  font-family: $f-default;
  font-weight: $fw-regular;
  @include font-rem(16px);
  &:before {
    display: block;
    margin-bottom: 16px;
    @include font-rem(38px);
    color: $c-brand;
  }
}


@include media-query(small-medium) {
  .step-data__row {
    @include flex-basis(33.3%);
    &:last-child {
      @include flex-basis(33.3%);
      border-top: none;
    }
  }
  .step-data__box {
    .btn_space {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  .step-data__txt {
    &.i-start {
      position: relative;
      display: inline;
      margin-left: -57px;
      padding-left: 60px;
      text-align: left;
      &:before {
        position: absolute;
        display: inline;
        width: 10%;
        padding-left: 16px;
        margin-bottom: 16px;
        @include font-rem(38px);
        color: $c-brand;
      }
    }
  }
}
