/*------------------------------------*\
	User Profile
\*------------------------------------*/
  .user-header {
    @include flexbox;
    @include flex-direction(column);
  }
  .user-header-edit {
    .form__edit {
      padding: 5px 10px;
      border: 1px solid $c-neutro-3;
    }
    .form__label {
      color: $c-default-5;
    }
  }
  .user-data__holder {
    color: $c-default-5;
    &:before {
      content: '?';
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 8px;
      line-height: 22px;
      text-align: center;
      color: $c-neutro;
      @include font-rem(14px);
      background-color: $c-brand;
      border-radius: 50%;
    }
  }

  .user-header-edit__item {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    color: $c-default;
    &.edit__item_top {
      @include align-items(start);
    }
  }
  
  .user-header-edit__grid {
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px 0;
    .form__row {
      @include flex-grow(1);
      margin: 0 6px;
    }
    .form__label {
      font-weight: $fw-regular;
    }

    .user-edit__save {
      @include align-self(flex-end);
      text-align: right;
      margin-bottom: 5px;
      width: 100%;
      margin-top: 12px;
    }
  }
  .user-data__title {
    padding-top: 16px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
    @include font-rem(20px);
    font-family: $f-fancy;
    font-weight: $fw-medium;
  }
  .user-edit__actions {
    padding: 14px 0 0 16px;
  }

  .user-header__item {
    text-align: center;
  }

  .user-edit_right {
    text-align: right
  }

/*------------------------------------*\
	User Profile avatar edit
\*------------------------------------*/
  .user-over {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      background-color: $c-neutro;
      transition: all .2s ease-out;
    }
  }
  .user-data__avatar {
    width: 114px;
    height: 114px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }
  .user-data__img {
    width: 100%;
    vertical-align: bottom;
  }

  .user-avatar-edit {
    position: relative;
    z-index: 3;
    display: inline-block;
    .user-edit__actions {
      position: absolute;
      right: 0;
      top: 2px;
      padding: 0;
    }
  }
  .user-avatar__upfile {
    position: absolute;
    z-index: 2;
    width: 100%;
    opacity: 0;
    transition: all .2s .2s ease-out;
  }
  .user-avatar_active {
    min-height: 500px;
    text-align: center;
    &:after {
      opacity: .97;
      pointer-events: all;
    }

    .user-avatar__upfile {
      opacity: 1;
    }
    .user-edit__save {
      padding-top: 16px;
    }

  }



.user-data__group {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  @include font-rem(16px);
  &.i-star-on {
    &::before {
      position: relative;
      top: -2px;
      padding-right: 10px;
      font-size: 90%;
    }
  }

}

.user-data__notify {
  padding: 8px 0;
}
.user-data__box-txt {
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid $c-neutro;
}

.user-data__txt {
  width: 100%;
  margin: 0;
  padding: 6px;
  line-height: 1.4;
  @include font-rem(16px);
  border: 1px solid $c-neutro;
}

.user-data__caption-i {
  text-align: center;
  text-transform: uppercase;
  &:before {
    display: inline-block;
    padding-bottom: 4px;
    color: $c-default-2;
    vertical-align: middle;
    padding-right: 6px;
  }
}
.user-data__list {
  @include flexbox;
  @include justify-content(center);
  list-style: none;
  margin: 0;
  padding: 8px 0;
}
.user-data-nav {
  @include flexbox;
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.user-data__value {
  min-width: 70px;
  color: $c-default-2;
  @include font-rem(16px);
  &:before {
    color: $c-brand;
    padding-right: 10px;
  }
  &:not(:last-child) {
    padding-right: 30px;
  }
}

.i_flip {
  &:before {
    padding-right: 0;
    padding-left: 10px;
  }
}

.user-data__track {
  min-width: 72px;
  padding: 2px 0;
  border-bottom: 3px solid $c-brand;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.user-data__actions {
  padding: 8px 0;
  text-align: center;
}

.user-data_info {
  padding: 50px 0;
}

.user-data__form {
  padding-bottom: 30px;
}

  // $bp-medium: 768px;
  @include media-query(medium) {
    .single__inner {
      width: 86%;
      margin: 0 auto;
    }
  }

  // $bp-wide: 1024px;
  @include media-query(wide) {
    .single {
      @include flex-grow(1);
    }
    .single__header {
      text-align: left;
    }
    .single__title {
      @include font-rem(32px);
    }
    .single__subtitle {
      padding: 32px 0;
      margin: 0;
      text-transform: uppercase;
      @include font-rem(18px);
      font-family: $f-fancy;
      font-weight: $fw-light;
    }

    .user-header {
      @include flex-direction(row);
    }
    .user-header__item {
      text-align: left;
    }

    .user-data__title {
      padding-top: 8px;
      text-align: left;
      @include font-rem(36px);
    }
    .user-header-edit__item {
      @include justify-content(start);
      &.edit__item_top {
        .user-edit__actions {
          padding-top: 14px;
        }
      }
    }
    .user-header-edit__grid {
      @include justify-content(start);
      margin: 0;
    }

    .user-edit__actions {
      padding: 8px 0 0 16px;
    }
    /*------------------------------------*\
	    User Profile avatar edit desktop
    \*------------------------------------*/
      .user-avatar_active {
        min-height: 390px;
      }

      .user-data__avatar {
        margin-right: 28px;
      }
      .user-avatar-edit {
        .user-edit__actions {
          right: 28px;
        }
      }
      .user-avatar__upfile {
        top: 0;
      }



    .user-data__group {
      text-align: left;
      @include font-rem(18px);
      margin-right: 28px;
    }

    .user-data__notify {
      @include flexbox;
    }
    .user-data__list {
      padding: 4px 0;

      &:not(:last-child) {
        padding-right: 20px;
      }
    }
    .user-data__actions {
      padding-top: 20px;
      text-align: left;
    }
    .user-data__caption-i {
    text-align: left;
    }
  }

/*------------------------------------*\
	Info User in Producto
\*------------------------------------*/
.product-user {
  padding-top: 32px;
}

.user-card {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-around);
}

.user-data__avatar_border {
  border: 5px solid $c-brand;
}

.user-card__header {
  width: 100%;
}
.user-card__tip {
  position: relative;
  width: 100%;
  min-width: 220px;
  padding: 20px;
  background-color: $c-neutro-4;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
}

// Description User
@media only screen and (max-width: 640px) {
  .user-card__content {
    padding-top: 20px;
  }

  .user-card__tip {
    &:before {
      top: -14px;
      left: 50%;
      border-width: 0 11px 14px 11px;
      border-bottom-color: $c-neutro-4;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.user-card__actions {
  text-align: right;
  margin: 0;
}

.user-card__link {
  position: relative;
  display: inline-block;
  padding-left: 38px;
  &:before {
    position: absolute;
    left: 0;
    top: 4px;
    color: $c-brand;
    @include font-rem(20px);
  }
}

// $bp-small-medium: 640px;
@include media-query(small-medium) {

  .user-card {
    @include flex-direction(row);
  }
  .user-card__tip {
    &:before {
      top: 50%;
      left: -21px;
      border-style: solid;
      border-width: 20px 30px 20px 0;
      border-right-color: $c-neutro-4;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

}
//$bp-medium: 768px;
@include media-query(medium) {
  .product-user {
    padding-top: 56px;
  }
}

//$bp-wide: 1024px;
@include media-query(wide) {
  .user-card__content {
    width: 100%;
    padding-left: 50px;
  }
}

