/*------------------------------------*\
	User Profile
\*------------------------------------*/
  .user-header {
    @include flexbox;
    @include flex-direction(column);
  }
  .user-header-edit {
    .form__edit {
      padding: 5px 10px;
      border: 1px solid $c-neutro-3;
    }
    .form__label {
      color: $c-default-5;
    }
  }
  .user-header-edit__item {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    color: $c-default;
    &.edit__item_bottom {
      @include align-items(start);
      .user-edit__actions {
        margin-top: 12px;
      }
    }
  }
  
  .user-header-edit__grid {
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 16px 0;
    .form__row {
      flex-grow: 1;
      margin: 0 6px;
    }
    .form__label {
      font-weight: $fw-regular;
    }
  }

  .user-data__title {
    padding-top: 16px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
    @include font-rem(20px);
    font-family: $f-fancy;
    font-weight: $fw-medium;
  }
  .user-edit__actions {
    padding: 14px 0 0 16px;
  }

  .user-data__avatar {
    width: 114px;
    height: 114px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }

  .user-data__img {
    width: 100%;
    vertical-align: bottom;
  }

  .user-data__notify {
    padding: 8px 0;
  }

  .user-data__txt {
    @include font-rem(16px);
    line-height: 1.4;
    margin: 0;
    padding: 8px;
  }

  .user-data__list {
    @include flexbox;
    @include justify-content(center);
    list-style: none;
    margin: 0;
    padding: 8px 0;
  }
  .user-data-nav {
    @include flexbox;
    list-style: none;
    margin: 0;
    padding: 8px 0;
  }


  .user-data__value {
    color: $c-default-2;
    @include font-rem(16px);
    &:before {
      color: $c-brand;
      padding-right: 10px;
    }
    &:not(:last-child) {
      padding-right: 30px;
    }
  }

  .i_flip {
    &:before {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .user-data__track {
    padding: 2px 0;
    border-bottom: 3px solid $c-brand;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .user-data__actions {
    padding: 8px 0;
    text-align: center;
  }

  .user-data_info {
    padding: 50px 0;
  }

  .user-data__form {
    padding-bottom: 30px;
  }

  // $bp-medium: 768px;
  @include media-query(medium) {
    .single__inner {
      width: 84%;
      margin: 0 auto;
    }
  }

  // $bp-wide: 1024px;
  @include media-query(wide) {
    .single {
      @include flex-grow(1);
    }
    .single__header {
      text-align: left;
    }
    .single__title {
      @include font-rem(32px);
    }
    .user-header {
      @include flex-direction(row);
    }
    .user-data__title {
      padding-top: 8px;
      text-align: left;
      @include font-rem(36px);
    }
    .user-header-edit__item {
      @include justify-content(start);
      @include align-items(start);
    }
    .user-header-edit__grid {
      @include justify-content(start);
      margin: 0;
    }

    .user-edit__actions {
      padding: 8px 0 0 16px;
    }

    .user-data__avatar {
      margin-right: 28px;
    }
    .user-data__notify {
      @include flexbox;
    }
    .user-data__list {
      padding: 4px 40px 4px 0;
    }
    .user-data__actions {
      padding-top: 20px;
      text-align: left;
    }
  }
