/*------------------------------------*\
	texts links
\*------------------------------------*/
a {
  cursor: pointer;
  text-decoration: none;
}

.link {
	&:hover {

	}
	&:focus,
  &:active {

  }
}

.link_underline {
  display: inline-block;
  padding-bottom: 2px;
  color: $black;
  font-size: inherit;
  font-weight: $fw-bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid $c-brand;
  transition: all 0.5s;
  &:hover {
    border-bottom-color: $c-default-2;
  }
}
.link_circle {
  @include flexbox;
  @include align-items(center);
  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 2px;
    margin-top: 2px;
    margin-right: 8px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    color: $c-brand;
    @include font-rem(10px);
    border: 2px solid $c-brand;
    border-radius: 50%;
  }
}

.link_underline_lower {
  margin-bottom: 20px;
}
