/*------------------------------------*\
	Transversal Elements
    #Forms Styles
\*------------------------------------*/
input, select, textarea {
  outline: none;
  border: none;
}

label {
  cursor: default;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}


/*------------------------------------*\
	Elementos Formularios
\*------------------------------------*/

.form {
  color: $c-default;
}
.form__set {
  border: none;
  max-width: 440px;
  margin: 0 auto;
}

.form__legend {
  padding-bottom: 24px;
  margin: 0;
  text-transform: uppercase;
  @include font-rem(18px);
  font-family: $f-fancy;
  font-weight: $fw-light;
}
 .form__grid_center {
   text-align: center;
 }
  .form__row {
    padding-bottom: 12px;
  }
  .form__row_top {
    padding-top: 12px;
    width: 100%;
  }
  .form__row_away {
    padding-top: 12px;
  }

  .form__btn {
    text-align: center;
  }

  .form__label {
    display: block;
    padding-bottom: 6px;
    @include font-rem(14px);
    font-weight: $fw-bold;
  }
  .form__headline {
    @include font-rem(16px);
  }

  .form__disclaimer {
    margin: 0;
    @include font-rem(16px);
  }
  .form__price {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    &:before {
      content: '$';
      padding: 0 18px 12px 0;
      @include font-rem(30px);
      font-family: $f-fancy;
      font-weight: $fw-light;
    }
  }

  .form__control {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 12px;
    line-height: 40px;
    font-family: $f-default;
    border: 1px solid $c-default-2;
  }
  .form__edit {
    width: 100%;
    line-height: 1.6;
    color: $c-default-5;
    @include font-rem(16px);
    font-family: $f-default;
    font-weight: $fw-regular;
  }
  .form__edit_txt {
    width: 100%;
    min-height: 170px;
    padding: 6px;
    line-height: 1.4;
    color: $c-default-5;
    @include font-rem(16px);
    font-family: $f-default;
    font-weight: $fw-regular;
    border: 1px solid $c-neutro-3;

  }

.form__grid_reverse {
  @include flexbox;
  @include justify-content(center);
  @include flex-direction (column-reverse);
  text-align: center;
  .form__grid_group {
    @include flexbox;
    @include flex-direction (column-reverse);
    padding-bottom: 20px;
  }
}
  .form__group-item {
    padding: 14px 24px;
  }

//Input select
.form__select {
  width: 100%;
  padding: 0 38px 0 12px;
  margin-bottom: 12px;
  height: 42px;
  font-family: $f-default;
  border: 1px solid $c-default-2;
  background-color: #fff;
  background-image: url(../../static/img/arrow-select.svg);
  background-size: 11px 9px;
  background-position: 98% center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance:    none;
  padding-right:0\0;
  background: none\0;
}

//Input textarea
.form__textarea {
  width: 100%;
  padding: 10px 12px;
  line-height: 1.4;
  font-family: $f-default;
  border: 1px solid $c-default-2;
}

//Input radio
.form__input-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked + .form__label_radio {
    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 4px;
      z-index: 1;
      width: 9px;
      height: 9px;
      @include font-rem(12px);
      color: $c-default;
      border-radius: 50%;
      background-color: $c-brand;
    }
  }
}

//label de input radio
.form__label_radio {
  position: relative;
  padding-left: 28px;
  font-weight: $fw-regular;
  strong {
    display: block;
  }
  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 2px solid $c-default-3;
    border-radius: 50%;
  }
}
//Input checkbox 
.form__input-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked + .form__label_check {
    &:before {
      position: absolute;
      top: 4px;
      left: 2px;
      z-index: 1;
      display: block;
      @include font-rem(8px);
      font-weight: $fw-bold;
      color: $c-brand;
      border-radius: 50%;
    }
  }
}
//label de input checkbox
.form__label_check {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  font-weight: $fw-regular;
  color: $c-default-4;
  &:before {
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border: 2px solid $c-default-3;
    border-radius: 3px;
  }
}

.form__label-link {
  color: $c-default;
  font-weight: $fw-bold;
  border-bottom: 2px solid $c-brand;
}

// $bp-medium: 768px;
@include media-query(medium) {
  .form__edit_txt {
    width: 100%;
    min-height: 100px;
  }
  .form__headline {
    @include font-rem(18px);
  }

  .form__disclaimer {
    margin: 0;
    @include font-rem(18px);
  }

}

//toggle color form
.toggle-select {
  margin-top: -12px;
}

.toggle-select__list {
  list-style: none;
  margin: 0 0 12px 0;
  padding: 4px 8px;
  border-bottom: 1px solid $c-default-2;
  border-left: 1px solid $c-default-2;
  border-right: 1px solid $c-default-2;
  span {
    vertical-align: middle;
  }
}
.color-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  border-radius:50%; 
  border: 1px solid $c-default-3;
}
.toggle-select__item {
  padding: 4px;
  @include font-rem(16px);
}

// $bp-wide: 1024px;
@include media-query(wide) {
  .form__set {
    max-width: 100%;
  }

  .form__grid {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    .form__row {
      width: 50%;
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .form__grid_center {
    @include justify-content(center);
    .form__row {
      flex-grow: 0;
    }
  }

  .form__group {
    @include flexbox;
    @include justify-content(center); 
    .form__row {
      flex-grow: 0;
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

}

@media only screen and (min-width: 1080px) {
  .form__grid_reverse {
    @include flex-direction (row); 
    @include justify-content(space-between);
    @include align-items(center);
    .form__grid_group {
      @include flex-direction (row);
      @include justify-content(flex-end);
      padding-bottom: 0;
      width: 50%;
      padding-left: 8px;
      .form__row {
        flex-grow: 1;
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
      .form__grid-item {
        width: 100%;
        min-width: 100px;
      }
  }
  
}

/*------------------------------------*\
	 Mensajes Error
\*------------------------------------*/

.help {
  background-color: $c-neutro-3;
  ul {
    padding: 8px 29px;
    li {
      line-height: 1.4;
    }
  }
  a {
    border-bottom: 2px solid $c-brand;
    color: $c-default;
    font-weight: $fw-bold;
  }
}

.is-danger {
  .form__control {
    border: 1px solid $c-brand;
  }
  .help {
    position: relative;
    display: block;
    padding: 5px 8px;
    line-height: 1.2;
    color: $c-neutro;
    background-color: $c-brand;
    &:before {
      content: '';
      position: absolute;
      left: 10px;
      bottom: -9px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 10px 0 10px;
      border-color: $c-brand transparent transparent transparent;
    }
  }
}

/*------------------------------------*\
	Mensajes formulario
\*------------------------------------*/
.form__notify {
  padding: 16px;
  text-align: center;
  background-color: $c-neutro-3;
  p {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.form__note {
  margin: -8px 0 0;
  @include font-rem(12px);
}
  .form__note_right {
    text-align: right;
  }
  
.form__info {
  position: relative;
  min-height: 40px;
  padding: 16px 0 16px 48px;
  @include font-rem(16px);
  strong {
    font-weight: $fw-bold;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
    @include font-rem(40px);
  }
}

  // .form__edit:-webkit-autofill,
  // .form__edit:-webkit-autofill:hover,
  // .form__edit:-webkit-autofill:focus .form__edit:-webkit-autofill,
  // .form__edit:-webkit-autofill:hover .form__edit:-webkit-autofill:focus {
  //   -webkit-text-fill-color: $c-default;
  //   -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  //   transition: background-color 5000s ease-in-out 0s;
  // }
  //componente VuePassword
  // .VuePassword__Input {
  //   .input {
  //     width: 100%;
  //     padding: 0 12px;
  //     margin-bottom: 12px;
  //     line-height: 40px;
  //     font-family: $f-default;
  //     border: 1px solid $c-default-2;
  //   }
  // }
  // .VuePassword {
  //    .VuePassword__Toggle {
  //      height: 42px;
  //      .VuePassword__Toggle__Icon {
  //         fill: $c-default-4;
  //      }
  //    }
  //   // alerta seguridad
  //   .VuePassword__Meter {
  //     display: none;
  //   }
  //   //Alerta seguridad mensaje
  //   .VuePassword__Message {
  //     position: relative;
  //     display: block;
  //     width: 100%;
  //     height: 0;
  //     margin-top: -6px;
  //     margin-bottom: 6px;
  //     padding-right: 4px;
  //     opacity: 0;
  //     text-transform: capitalize;
  //     @include font-rem(14px);
  //     transition: all .2s ease-out;
  //     &:before,
  //     &:after {
  //       content: '';
  //       position: absolute;
  //       top: 50%;
  //       display: block;
  //       height: 4px;
  //       border-radius: 25px;
  //     }
  //     &:before {
  //       left: 0;
  //       width: 80%;
  //       margin-top: -3px;
  //       border: 1px solid $c-default-3;
  //     }
  //     &:after {
  //       left: 1px;
  //       width: 0;
  //       margin-top: -2px;
  //       transition: all .2s ease-out;
  //     }
  //   }
  //   // alerta seguridad bg
  //   .VuePassword--great,
  //   .VuePassword--good,
  //   .VuePassword--medium,
  //   .VuePassword--weak,
  //   .VuePassword--very-weak {
  //     height: 20px;
  //     opacity: 1;
  //     color: $c-default-4;
  //     &:after {
  //       background-color: $c-brand;
  //     }
  //   }
  //   .VuePassword--great {
  //     &:after {
  //       width: 80%;
  //     }
  //   }
  //   .VuePassword--good {
  //     &:after {
  //       width: 65%;
  //     }
  //   }
  //   .VuePassword--medium {
  //     &:after {
  //       width: 44%;
  //     }
  //   }
  //   .VuePassword--weak {
  //     &:after {
  //       width: 20%;
  //     }
  //   }
  //   .VuePassword--very-weak {
  //     &:after {
  //       width: 5%;
  //     }
  //   }
  // }
