/*------------------------------------*\
	Transversal Elements
    #Forms Styles
\*------------------------------------*/
input, select, textarea {
  outline: none;
  border: none;
}

label {
  cursor: default;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/*------------------------------------*\
	Elementos Formularios
\*------------------------------------*/

.form {
  color: $c-default;
}
  .form__row {
    padding-bottom: 12px;
  }

  .form__row_away {
    padding-top: 12px;
  }

  .form__btn {
    text-align: center;
  }


  .form__label {
    display: block;
    padding-bottom: 6px;
    @include font-rem(14px);
    font-weight: $fw-bold;
  }
  .form__control {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 12px;
    line-height: 40px;
    font-family: $f-default;
    border: 1px solid $c-default-2;
  }
  //componente VuePassword
  .VuePassword__Input {
    .input {
      width: 100%;
      padding: 0 12px;
      margin-bottom: 12px;
      line-height: 40px;
      font-family: $f-default;
      border: 1px solid $c-default-2;
    }
  }

  .VuePassword {
     .VuePassword__Toggle {
       height: 42px;
       .VuePassword__Toggle__Icon {
          fill: $c-default-4;
       }
     }
    // alerta seguridad
    .VuePassword__Meter {
      display: none;
    }
    //Alerta seguridad mensaje
    .VuePassword__Message {
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      margin-top: -6px;
      margin-bottom: 6px;
      padding-right: 4px;
      opacity: 0;
      text-transform: capitalize;
      @include font-rem(14px);
      transition: all .2s ease-out;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        height: 4px;
        border-radius: 25px;
      }
      &:before {
        left: 0;
        width: 80%;
        margin-top: -3px;
        border: 1px solid $c-default-3;
      }
      &:after {
        left: 1px;
        width: 0;
        margin-top: -2px;
        transition: all .2s ease-out;
      }
    }

    // alerta seguridad bg
    .VuePassword--great,
    .VuePassword--good,
    .VuePassword--medium,
    .VuePassword--weak,
    .VuePassword--very-weak {
      height: 20px;
      opacity: 1;
      color: $c-default-4;
      &:after {
        background-color: $c-brand;
      }
    }

    .VuePassword--great {
      &:after {
        width: 80%;
      }
    }
    .VuePassword--good {
      &:after {
        width: 65%;
      }
    }
    .VuePassword--medium {
      &:after {
        width: 44%;
      }
    }
    .VuePassword--weak {
      &:after {
        width: 20%;
      }
    }
    .VuePassword--very-weak {
      &:after {
        width: 5%;
      }
    }
  }

/*------------------------------------*\
	Mensajes formulario
\*------------------------------------*/

.form__notify {
  padding: 16px;
  text-align: center;
  background-color: $c-neutro-3;
  p {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.form__note {
  margin: -8px 0 0;
  @include font-rem(12px);
}
  .form__note_right {
    text-align: right;
  }
  
.form__info {
  position: relative;
  min-height: 40px;
  padding: 16px 0 16px 48px;
  @include font-rem(16px);
  strong {
    font-weight: $fw-bold;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
    @include font-rem(40px);
  }
}

/*------------------------------------*\
	 Mensajes Error
\*------------------------------------*/
