/*------------------------------------*\
  layout theme
\*------------------------------------*/
//- body
.theme {
  overflow: hidden;
}
//- template
.page {
  &.page-user {
    min-height: 100vh;
  }
}
.content-main {
  min-height: 70vh;
}

.layout {
  background-color: $c-neutro;
}
.layout-page {
  .preload {
    &:first-child {
      margin-top: 60px;
    }
  }
}




.layout-slot {
  background-color: $c-neutro-3;
}

//- ancho de los contenidos
.layout-inner {
  width: 96%;
  max-width: 1280px;
  margin: 0 auto;
}

.layout-inner_out {
  max-width: 1440px;
  margin: 0 auto;
}

.layout-band {
  width: 100%;
  background-color: $c-neutro-4;
}
.layout_filtrate {
  padding-top: 16px;
}


// Content registro
.content-slot {
  max-width: 524px;
  margin: 0 auto;
  padding: 44px 0 50px;
  background-color: $c-neutro;
}

  .content-slot__inner {
    width: 86%;
    margin: 0 auto;
  }

.hide {
  display: none;
}

//- flexbox
.grid-flex {
  @include flexbox;
}

.layout_nofound {
  padding: 100px 0 0;
}

@media only screen and (max-width: 1023px) {
  .content-main {
    margin-bottom: 75px;
  }
  .page {
    padding-top: 60px;
    &.page-user {
      padding-top: 120px;
    }
  }
}

// $bp-medium: 768px;
@include media-query(medium) {
  .layout-slot {
    padding: 46px 0 84px;
  }
  .content-slot__inner {
    width: 76%;
  }
  .layout-page {
    .preload {
      &:first-child {
        margin-top: 100px;
      }
    }
  }

  .layout_nofound {
    padding: 100px 0;
  }
}

// $bp-big: 1024px;
@include media-query(wide) {
  .content-main {
    padding-top: 73px;
  }

  .layout {
    padding: 46px 0 84px;
  }
  .content-grid {
    @include flexbox;
  }
}
