/*------------------------------------*\
  layout theme
\*------------------------------------*/
//- body
.theme {
  overflow: hidden;
}
//- template
.page{
  min-height: 100vh;
}

.layout {
  background-color: $c-neutro;
}

.layout-slot {
  background-color: $c-neutro-3;
}

//- ancho de los contenidos
.layout-inner {
  width: 96%;
  max-width: 1280px;
  margin: 0 auto;
}

.layout-inner_out {
  max-width: 1440px;
  margin: 0 auto;
}

.layout-band {
  width: 100%;
  background-color: $c-neutro-4;
}



// Content registro
.content-slot {
  max-width: 524px;
  margin: 0 auto;
  padding: 44px 0 50px;
  background-color: $c-neutro;
}

  .content-slot__inner {
    width: 86%;
    margin: 0 auto;
  }

.hide {
  display: none;
}

//- flexbox
.grid-flex {
  @include flexbox;
}

// $bp-medium: 768px;
@include media-query(medium) {
  .layout-slot {
    padding: 46px 0 84px;
  }
  .content-slot__inner {
    width: 76%;

  }
}

// $bp-big: 1024px;
@include media-query(wide) {
  .layout {
    padding: 46px 0 84px;
  }
  .content-grid {
    @include flexbox;
  }
}
