/*------------------------------------*\
    #Titles
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
//title page
.title__main {
  display: inline-block;
  padding-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
  @include font-rem(28px);
  font-family: $f-fancy;
  font-weight: $fw-semi-bold;
  border-bottom: 1px solid $c-default;
}
//title page form slot
.title {
  padding-bottom: 14px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  @include font-rem(26px);
  font-family: $f-fancy;
  font-weight: $fw-semi-bold;
  border-bottom: 1px solid $c-default;
}
.page__head {
  padding: 30px 0 36px;
  text-align: center;
}

// Title section
.section__head {
  width: 96%;
  margin: 0 auto;
  padding: 24px 0 20px;
}
.section__subhead {
  width: 96%;
  margin: 0 auto;
  padding: 58px 0 48px;
}


.title_head {
  text-align: center;
  text-transform: uppercase;
  @include font-rem(26px);
  font-family: $f-fancy;
  font-weight: $fw-light;
}

.title_subhead {
  padding-top: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $c-default-2;
  @include font-rem(16px);
  font-family: $f-fancy;
  font-weight: $fw-medium;
}

//title bloque
.title_line {
  line-height: 0.97;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  @include font-rem(36px);
  font-family: $f-fancy;
  font-weight: $fw-semi-bold;
  &::before {
    content: '';
    display: block;
    max-width: 160px;
    margin: 0 auto;
    height: 3px;
    background-color: $c-brand;
  }
}

.subhead {
  padding-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  @include font-rem(20px);
  font-family: $f-fancy;
  font-weight: $fw-light;
  border-bottom: 1px solid $c-neutro-3;
}

.subtitle_line {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $c-neutro-3;
}

.headline {
  padding: 10px 0 50px;
  text-transform: uppercase;
  font-family: $f-fancy;
  font-weight: $fw-medium;
  @include font-rem(22px);
}

//corazón titulo
.header_heart {
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid $c-neutro-3;
  &:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 16px;
    line-height: 32px;
    color: $c-brand;
    @include font-rem(20px);
    border-radius: 50%;
    border: 2px solid #fe7675;
  }
}

.title_heart {
  padding-bottom: 8px;
  text-transform: uppercase;
  font-family: $f-fancy;
  font-weight: $fw-light;
  @include font-rem(20px);
}
.subtitle_heart {
  margin: 0;
  color: $c-brand;
}

// $bp-medium: 768px;
@include media-query(medium) {
  .title__main {
    @include font-rem(36px);
  }
  //tile page
  .page__head {
    padding: 40px 0 46px;
  }

  // Title section
  .section__head_big {
    padding: 100px 0;
  }
  //contenedor section 
  .section__subhead {
    padding: 88px 0;
  }
  .title_head {
    padding-bottom: 10px;
    @include font-rem(80px);
  }
  .title_head-small {
    @include font-rem(30px);
  }

  .title_page {
    text-transform: uppercase;
    @include font-rem(34px);
    font-family: $f-fancy;
    font-weight: $fw-medium;
  }

  .title_subhead {
    letter-spacing: 4px;
  }

  .subhead {
    text-align: left;
    @include font-rem(30px);
  }
  .subtitle_line {
    padding-bottom: 16px;
    margin-bottom: 32px;
    border-bottom: 1px solid $c-neutro-3;
  }
  //corazón titulo
  .header_heart {
    padding-bottom: 32px;
    &:before {
      width: 40px;
      height: 40px;
      margin-bottom: 24px;
      line-height: 42px;
      @include font-rem(24px);
    }
  }

  .title_heart {
    padding-bottom: 16px;
    @include font-rem(30px);
  }
  .subtitle_heart {
    @include font-rem(16px);
  }
}

// $bp-medium: 1024px;
@include media-query(wide) {
  .title_head-small {
    @include font-rem(36px);
  }
}
