/*------------------------------------*\
    #Titles
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

//title page
.title {
  padding-bottom: 14px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  @include font-rem(26px);
  font-family: $f-fancy;
  font-weight: $fw-semi-bold;
  border-bottom: 1px solid $c-default;
}
// Title section
.section__head {
  width: 96%;
  margin: 0 auto;
  padding: 24px 0 20px;
}

.title_head {
  text-align: center;
  text-transform: uppercase;
  @include font-rem(26px);
  font-family: $f-fancy;
  font-weight: $fw-light;
}
.title_subhead {
  padding-top: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $c-default-2;
  @include font-rem(16px);
  font-family: $f-fancy;
  font-weight: $fw-medium;
}


//title bloque
.title_line {
  line-height: 0.97;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  @include font-rem(36px);
  font-family: $f-fancy;
  font-weight: $fw-semi-bold;
  &::before {
    content: '';
    display: block;
    max-width: 160px;
    margin: 0 auto;
    height: 3px;
    background-color: $c-brand;
  }
}

.headline {
  padding: 10px 0 50px;
  text-transform: uppercase;
  font-family: $f-fancy;
  font-weight: $fw-medium;
  @include font-rem(22px);
}
// $bp-medium: 768px;
@include media-query(medium) {
  // Title section
  .section__head_big {
    padding: 100px 0;
  }

  .title_head {
    padding-bottom: 10px;
    @include font-rem(80px);
  }
  .title_subhead {
    letter-spacing: 4px;
  }

}
